/* Estilos Globais */
body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
}
body {
    background-image:
    url('doces.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Cabeçalho */
header {
    background-color: #ffccff;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #660066;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: #660066;
    text-decoration: none;
    font-weight: bold;
}

/* Seção Inicial */
.welcome {
    padding: 50px;
    text-align: center;
}

/* Seções */
.about, .gallery, .contact {
    padding: 50px;
    text-align: center;
}

/* Galeria */
.gallery img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}

/* Rodapé */
footer {
    background-color: #ffccff;
    text-align: center;
    padding: 10px;
    color: #660066;
    position: fixed;
    bottom: 0;
    width: 100%;
}